# Python vs PySpark Commands
*Python*


### Create a Pandas dataframe

In Python, if we want to create a dataframe, we need to import a library. Pandas is the most common library used for this. Let's create one now.

In [1]:
import pandas as pd

# initialize list of lists
data = [["tom", 10], ["nick", 15], ["juli", 14]]

# Create the pandas DataFrame
df = pd.DataFrame(data, columns=["Name", "Age"])

## Display the dataframe and it's properties

In [3]:
df.head(5)

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [4]:
# Get a list of columns
df.columns

Index(['Name', 'Age'], dtype='object')

In [5]:
# How many rows are in the dataframe?
len(df)

3

## Read in data

In [10]:
path = "students.csv"
df = pd.read_csv(path)
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## Aggregate Data

In [12]:
df.groupby("gender").agg({"math score": ["mean", "min", "max"]})

       math score
             mean min  max
gender
female  63.633205   0  100
male    68.728216  27  100